s1/s1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="fc2dc597-a8fc-40cd-9a76-096da16f7370" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="s1Flow" doc:id="071ac42b-8b23-4ec5-b1b3-ee52709de497" >
		<http:listener doc:name="Listener" doc:id="95db0621-092a-4365-b70e-714e0a38df01" config-ref="HTTP_Listener_config" path="/test" outputMimeType="application/xml" allowedMethods="GET, POST"/>
		<ee:transform doc:name="Transform Message" doc:id="2d0495b9-9690-4ba1-b3d3-60d6e862ba01" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	customers: {
		cust: payload.customers.*cust map ( cust , indexOfCust ) -> {
			cno: cust.cno as String default "",
			cname: cust.cname default ""
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="5e5a4caf-332e-475d-b5c6-2572625e0f81" message="#[payload]"/>
	</flow>
</mule>
